* { margin: 0; padding: 0; }

.container{
	background-color: #261711;
	display: flex;
}

article {
  flex: 1 200px;
}

.logo {
    position: relative;
}

.nav_bar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

nav_bar div{
	display: flex;
	flex-flow: row nowrap;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
}

.nav_bar a {
  color: #b18525;
  text-decoration: none;
}

.video{
	position: relative;
}

.video_container video{
	position: absolute;
	overflow-x: hidden;
}

.video_container_info{
	padding: 0 20px;
    margin: 0 auto;
    max-width: 1600px;
	color: white;
}

.h1_a {
	font-size: 52px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
    font-weight: 700; 	
	position: absolute;
    top: 20%;
}

.video_text{
	font-size: 24px;
	width: 65%;
	position: absolute;
    top: 30%;
}

.video_link{
	top: 75px;
	font-size: 24px;
	width: 65%;
	text-decoration: underline;
	position: absolute;
    top: 40%;
}

a {
    text-decoration: none;
}

.news_label{
	margin-top: 12px;
}

.news_link{
	margin: 15px;
}

.news_block_label{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	top: 50%;
}

.news_1{
	width: 375px;
	height: 210px;
	background-image: url(../img/img_news_1.jpg);
	background-color: black;
	background-size: cover;
}
.news_2{
	width: 375px;
	height: 210px;
	background-image: url(../img/img_news_2.jpg);
	background-color: black;
	background-size: cover;
}
.news_3{
	border: 4px double black;
	width: 375px;
	height: 210px;
}
.news_4{
	border: 4px double black;
	width: 375px;
	height: 210px;
}