* { 
	margin: 0; 
	padding: 0; 
}

body { 
    background: #15171e; /* Цвет фона */
    overflow-x:hidden;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Demi'), local('Futura-PT-Demi'),
        url(../fonts/FuturaPT-Demi.woff2) format('woff2'),
        url(../fonts/FuturaPT-Demi.woff) format('woff'),
        url(../fonts/FuturaPT-Demi.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container{
	background-color: #15171e;
	display: flex;
	max-height: 200px;
	min-height: 100px;
	height: 100px;
}

article {
  flex: 1 100px;
}

.logo{
	background-size: 50%;
	background-repeat: no-repeat;
	padding-left: 10%;
}

.logo-link:hover{
	filter: brightness(1.3);
	transition: 0.2s;
}

.logo-link:not(:hover){
	filter: brightness(1.0);
	transition: 0.2s;
}

.nav_bar{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

.nav_item{
	text-transform: uppercase;
}

.nav_bar a:hover{
	color: white;
	transition: 0.2s;
}

.nav_bar a {
  color: #b6b6b8;
  text-decoration: none;
}

/* MAIN */

.page{
    margin: 0 3%;
}

.promo{
    background: linear-gradient(to right,#22242c 0%,rgba(34,36,44,.6) 400px,transparent 600px),linear-gradient(to left,#22242c 0px,rgba(34,36,44, 0) 160px), url(../img/shop/promo.jpg);
    background-repeat: no-repeat;
    transform: none;
    width: 100%;
    height: 344px;
    display: flex;
    align-items: center;
}

.promo-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding-left: 175px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
}

.promo-h3{
    width: 288px;
    font-size: 20px;
}

.promo-button{
    background: #0074e0;
	cursor: pointer;
	min-width: 180px;
	line-height: 1.5;
	width: 280px;
	padding: 15px;
    border-radius: 6px;
    font-size: 21px;
    text-decoration: none;
    color: white;
}

/* CATEGORIES */

.category{
    padding-bottom: 50px;
}

.cats{
    border-bottom: 1px solid #ffffff1f;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 85px;
}

.category-list{
    display: flex;
    align-items: center;
    background-color: #23252b;
    max-width: 100%;
    min-height: 52px;
    margin: 50px 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 800;
    gap: 25px;
    padding-left: 18px;
    border-radius: 6px;
}

.category-name-link{
    text-decoration: none;
    color: #c1c2c4;
}

.category-name-link:hover{
    filter: brightness(1.3);
}

.category-name{
    color: #ffffffd6;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    max-width: 242px;
    line-height: 1.5;
}

.c-h1{
    font-family: "Noto Sans Medium 500", sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding-bottom: 10px;
    width: 272px;
}

.c-label{
    width: 90%;
}

.category-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.product-container{
    display: flex;
    background-color: #ffffff0f;
    border-radius: 4px;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    width: 295px;
    height: 442px;
    max-width: 100%;
    text-decoration: none;
}

.p-c-mounts{
	height: 380px;
}

.p-c-pets{
	height: 347px;
}

.p-c-toys{
	height: 369px;
}

.p-c-transmog{
	height: 411px;
}

.p-c-services{
	height: 408px;
}

.product-img{
    background-size: cover;
	background-repeat: no-repeat;
    width: 295px;
    height: 166px;
}

.wow-standart{
	background-image: url(../img/shop/wow-standart.jpg);
}

.wow-shadowlands{
	background-image: url(../img/shop/wow-shadowlands.png);
}

.wow-classic{
	background-image: url(../img/shop/wow-classic.png);
}

.wow-subscribe{
	background-image: url(../img/shop/wow-subscribe.png);
}

.wow-subscribe-offer{
	background-image: url(../img/shop/wow-subscribe-offer.png);
}

.wow-wenlo{
	background-image: url(../img/shop/wow-wenlo.png);
}

.wow-skakun{
	background-image: url(../img/shop/wow-skakun.png);
}

.wow-dragon{
	background-image: url(../img/shop/wow-dragon.png);
}

.wow-heart{
    background-image: url(../img/shop/wow-heart.png);
}

.wow-pig{
    background-image: url(../img/shop/wow-pig.png);
}

.wow-illidari{
    background-image: url(../img/shop/wow-illidari.png);
}

.wow-ciylin{
    background-image: url(../img/shop/wow-ciylin.png);
}

.wow-dog{
    background-image: url(../img/shop/wow-dog.png);
}

.wow-ragna{
    background-image: url(../img/shop/wow-ragna.png);
}

.wow-dolli{
    background-image: url(../img/shop/wow-dolli.png);
}

.wow-captain{
    background-image: url(../img/shop/wow-captain.png);
}

.wow-lap{
    background-image: url(../img/shop/wow-lap.png);
}

.wow-dayz{
    background-image: url(../img/shop/wow-dayz.png);
}

.wow-prokaznik{
    background-image: url(../img/shop/wow-prokaznik.png);
}

.wow-salut{
    background-image: url(../img/shop/wow-salut.png);
}

.wow-beacon{
    background-image: url(../img/shop/wow-beacon.png);
}

.wow-wings{
    background-image: url(../img/shop/wow-wings.png);
}

.wow-murlocs{
    background-image: url(../img/shop/wow-murlocs.jpg);
}

.wow-observer{
    background-image: url(../img/shop/wow-observer.png);
}

.wow-lvlup{
    background-image: url(../img/shop/wow-lvlup.png);
}

.wow-changerace{
    background-image: url(../img/shop/wow-changerace.png);
}

.wow-changefraction{
    background-image: url(../img/shop/wow-changefraction.png);
}

.wow-transfer{
    background-image: url(../img/shop/wow-transfer.png);
}

.wow-gametime{
    background-image: url(../img/shop/wow-gametime.png);
}

.wow-gm{
    background-image: url(../img/shop/wow-gm.png);
}

.wow-changename{
    background-image: url(../img/shop/wow-changename.png);
}

.wow-token{
    background-image: url(../img/shop/wow-token.png);
}

.product-label{
	margin: 25px 25px auto;
}

.product-price{
	display: flex;
	flex-direction: column-reverse;
	align-content: flex-end;
    padding: 24px;
	text-align: left;
    color: #ffffffd6;
    font-family: "Noto Sans Medium 500", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-top: auto;
}

.game-title{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #c2c2c4;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 14px;
    line-height: 16px;
}

.game-icon{
    width: 25px;
    height: 25px;
}

.product-name{
    color: #ffffffd6;
    font-size: 19px;
    line-height: 22px;
    margin: 4px 0;
    font-weight: 800;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

.description-gold{
    color: #eca704;
    margin: 4px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.description-gray{
    color: #ffffffb8;
    margin: 4px 0;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.product-container:hover{
    background-color: rgb(49, 51, 57);
    transition: 0.3s;
}

.product-container:not(:hover){
    transition: 0.3s;
}

.product-container:hover > .product-label{
    margin-top: 20px;
    transition: 0.3s;
}

.product-container:hover > .product-price{
    margin-top: auto;
    transition: 0.3s;
}

.product-container:not(:hover) > .product-label{
    transition: 0.3s;
}

.product-container:not(:hover) > .product-price{
    transition: 0.3s;
}

/* FOOTER */

.icon{
    width: 325px;
    opacity: 0.6;
}

.footer-copyright{
	display: flex;
	justify-content: center;
}

.footer{
	background-color: #15171e;
	overflow: hidden;
}

.icon:hover{
	opacity: 1;
	transition: 0.2s;
}

.icon:not(:hover){
	opacity: 0.6;
	transition: 0.2s;
}

.f-cop{
	font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: rgba(255,255,255,.5);
    margin: 0;
	text-align: center;
}